.rpmbuild/
.codex
.vscode/
.gemini/
.geminiignore
GEMINI.md
SUGGESTIONS.md
.ruff_cache/
node_modules/
.debbuild/
.debian/changelog
.debian/.debhelper/
.debian/flatpak-automatic/
.debian/files
.debian/*.log
.debian/*.substvars
