#!/usr/bin/make -f
%:
	dh $@

override_dh_auto_install:
	mkdir -p debian/flatpak-automatic/usr/bin
	mkdir -p debian/flatpak-automatic/etc/default
	mkdir -p debian/flatpak-automatic/usr/share/flatpak-automatic
	install -m 755 src/flatpak-automatic.py debian/flatpak-automatic/usr/bin/flatpak-automatic
	cp -r src/flatpak_automatic debian/flatpak-automatic/usr/share/flatpak-automatic/
	install -m 644 config/sysconfig/flatpak-automatic debian/flatpak-automatic/etc/default/flatpak-automatic

override_dh_auto_test:
	# Skip tests during packaging since they run independently in the CI unit-tests job.


override_dh_install:
	dh_install
	mv debian/flatpak-automatic/usr/share/icons/hicolor/scalable/apps/logo.svg debian/flatpak-automatic/usr/share/icons/hicolor/scalable/apps/flatpak-automatic.svg || true
	mv debian/flatpak-automatic/usr/lib/systemd/user/flatpak-automatic-user.service debian/flatpak-automatic/usr/lib/systemd/user/flatpak-automatic.service || true
	mv debian/flatpak-automatic/usr/lib/systemd/user/flatpak-automatic-user.timer debian/flatpak-automatic/usr/lib/systemd/user/flatpak-automatic.timer || true
