#!/usr/bin/make -f
%:
	dh $@ --with systemd

override_dh_auto_install:
	mkdir -p debian/flatpak-automatic/usr/bin
	mkdir -p debian/flatpak-automatic/etc/sysconfig
	install -m 755 scripts/flatpak-automatic.sh debian/flatpak-automatic/usr/bin/flatpak-automatic
	install -m 644 sysconfig/flatpak-automatic debian/flatpak-automatic/etc/sysconfig/flatpak-automatic
