auto_update: true
enable_snapshots: true
auto_notify: always

timer:
  schedule: daily
  delay: 1h
  minimum_delay: 1h

snapshots:
  enabled: true
  snapper_config: root
  snapper_descriptions:
    pre: "flatpak-automatic-pre"
    post: "flatpak-automatic-post"

notification_groups:
  - name: Full extended group example
    template_body: default.md
    mails:
      to:
        - exampleTo@mail.example.com <exampleTo@mail.example.com>
        - exampleTo2@mail.example.com <exampleTo2@mail.example.com>
      from: exampleFrom@noreply.example.org
      subjects:
        success: "[$(hostname)] flatpak-automatic: $UPDATE_COUNT new upgrades have been installed."
        failure: "[$(hostname)] flatpak-automatic: FAILED"
    webhooks:
      urls:
        - https://webhook.site/...
      secret: "optional_hmac_secret"
    urls:
      - mailto://user:pass@example.com
    desktop_notify: true
