[Desktop Entry]
Name=Flatpak Automatic
Comment=Automatic update service for Flatpak apps
Exec=/usr/bin/flatpak-automatic
Icon=flatpak-automatic
Terminal=true
Type=Application
Categories=System;Utility;
