[Desktop Entry]
Name=Flatpak Automatic
Comment=Automatic update service for Flatpak apps
Exec=/usr/bin/flatpak-automatic
Icon=flatpak-automatic
Terminal=true
Type=Application
Categories=System;Utility;
Actions=RunAsRoot;

[Desktop Action RunAsRoot]
Name=Run as Administrator (Root)
Exec=pkexec /usr/bin/flatpak-automatic
